body {
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: steelblue;
}

h3 {
    font-size: xx-large;
}

button {
    background-color: whitesmoke;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

#newgame {
    display: flex;
    align-items: center;
    padding-top: 55px;
}


#count-el1, #count-el2 { 
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 130px;
    margin: 20px;
}
